{
    "timeout": 3,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "@function_signature": true
    },
    "testFrameworkOptions": "--testsuite=unit",
    "minMsi": 99,
    "minCoveredMsi": 99
}
